body{
background-image: url("./images/backgound1.jpg");
}
.navbar-brand {
  font-family: JetBrains Mono;
}
.nav-link {
  font-size-adjust: 10px;
  padding-left: 100px;
}

.home-button {
  margin-left: 100px;
}

.btn {
  margin-right: 10px;
}
.section-one {
  margin-left: 100px;
  padding-left: 100px;
}

.room-heading {
  padding-left: 15px;
  padding-top: 100px;
}
.container {
  padding-left: 1000px;
  margin-left: 100px;
}

.buttons {
  padding-left: 115px;
  margin-left: 10px;
}
.mid-section {
  margin-bottom: 233px;
background-image:url("./images/background.jpg");
}
.item-name {
  padding-left: 10px,
  font-size: 20px;
}
